#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Personal Corner */
.Navbar {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.errormsg {
  color: rgb(190, 0, 0);
  font-weight: bold;
}

.comment_form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0.5em;
}
.post_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.post_form label {
  display: flex;
  gap: 10px;
}
.post_form input,
.post_form textarea,
.comment_input {
  padding: 0.2em;
  border-radius: 5px;
}
.post_submit,
.comment_submit {
  background-color: rgb(97, 97, 97);
}
.post_submit:hover,
.comment_submit:hover {
  background-color: rgb(126, 126, 126);
}

.home_postlist {
  width: 70%;
  margin: auto;
}
.home_post {
  margin: 0.5em 0;
  padding: 0.2em;
  background-color: #686868;
  border-radius: 15px;
}

.comment {
  border-top: 1px solid rgb(194, 194, 194);
}
.comment p:last-child,
.author {
  font-weight: bold;
}